@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
  font-family: "burtons";
  src:url('../public/fonts/Burtons.otf');
}
@font-face {
  font-family:"rony9";
  src:url('../public/fonts/Ronysiswadi9Med.ttf');
}
@font-face {
  font-family: "newWalt";
  src: url('../public/fonts/NewWaltDisneyFontRegular.ttf');
}
@font-face {
  font-family: "salma";
  src: url('../public/fonts/SalmaproMediumnarrow-9YlVj.otf');
}
@font-face {
  font-family: "warriot";
  src: url('../public/fonts/Warriot-lgR3y.otf');
}
@font-face {
  font-family: "mochy";
  src: url('../public/fonts/MochiyPopPOne-Regular.ttf');
}
@font-face {
  font-family: "mplus";
  src: url('../public/fonts/MPLUSRounded1c-Regular.ttf');
}

